<div class="content">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image2"></div>
    <mat-card-title>Lorem ipsum</mat-card-title>
    <mat-card-subtitle>Halcon</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus delectus reiciendis commodi eligendi quam cum aperiam, officiis id cumque atque obcaecati asperiores fugiat quo assumenda aliquam ipsam nostrum alias ullam.
    </p>
  </mat-card-content>
</mat-card>
</div>
