*  {  
    box-sizing: border-box;
  } 

body {  
    font-family: 'Fira Sans', sans-serif;  
    margin: 0;
  }

nav {
    ul {
        display: flex; 
        justify-content: space-between;
        background: teal;
        color: white;
        list-style-type: none;
        padding-inline-start: 0px;
    }

    li{
        padding: 8px;
        text-align: center;
        flex-grow: 1;
        &:hover,  &:active {
            background: darkslategray;
        }
    }
}

@media screen and (max-width:480px){
    nav {
        ul {
            flex-direction: column;
            align-items: center;
        }
        li{
            width: 100%;
        }
    }
}