/01-Modulo/Layout-Basico/Ejercucio1/node_modules
/01-Modulo/Layout-Basico/Ejercicio1/dist
/01-Modulo/Layout-Basico/Ejercicio1/.cache
/01-Modulo/Layout-Basico/Ejercucio2/node_modules
/01-Modulo/Layout-Basico/Ejercicio2/dist
/01-Modulo/Layout-Basico/Ejercicio2/.cache
/01-Modulo/Layout-Basico/Ejercicio3/node_modules
/01-Modulo/Layout-Basico/Ejercicio3/dist
/01-Modulo/Layout-Basico/Ejercicio3/.cache
/01-Modulo/Layout-Basico/Ejercicio4/node_modules
/01-Modulo/Layout-Basico/Ejercicio4/dist
/01-Modulo/Layout-Basico/Ejercicio4/.cache
/01-Modulo/Layout-Extra/.parcel-cache
/01-Modulo/Layout-Extra/dist
/01-Modulo/Layout-Extra/node_modules
/02-Modulo/node_modules
/02-Modulo/transpiled/
/02-Modulo/src/01-deliverables/exercise-01.ts
/02-Modulo/src/01-deliverables/exercise-02.ts
/02-Modulo/src/01-deliverables/exercise-03.ts
/02-Modulo/src/01-deliverables/exercise-05.ts
/02-Modulo/src/02-challenges/
/03-Modulo/node_modules
/03-Modulo/bundling-basico/node_modules
/03-Modulo/bundling-basico/dist
/04-Modulo/React/node_modules
/06-Modulo/Ejercicio-RestAPI/node_modules
/07-Modulo/node_modules