$default-font: "Comic Sans MS", "Comic Sans";
$principal-font: "arial";  
$secondary-font: "Verdana";

$default-font-size: 17px;
$secondary-font-size: 14px;


$box-shadow: 10px 10px 12px black;

$border-radius: 5px;

$color-base: blue;
$color-important: darkblue;
$color-warning:lightblue;