$default-font: "Comic Sans MS", "Comic Sans";
$principal-font: "fangsong";  
$secondary-font: "monospace";

$default-font-size: 18px;
$secondary-font-size: 16px;

$box-shadow: -10px 10px 12px black;

$color-base: red;
$color-important: brown;
$color-warning:lightpink;


