<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a class="logo">
      <img width="60" alt="Lemoncode Angular Logo" src="./assets/img/lemonAngular.png" />
      <span>Mini App</span>
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li>
        <a routerLink="/home">
          <mat-icon class="icon">home</mat-icon>
          <span class="label">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/login">
          <mat-icon class="icon">input</mat-icon>
          <span class="label">Login</span>
        </a>
      </li>
      <li>
        <a routerLink="/about">
          <mat-icon class="icon">info</mat-icon>
          <span class="label">Acerca de</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
